<form class="col-md-6 submit-form">
  <h3>Cadastrar veículo</h3>
    <div class="form-group">
      <label for="vehicle" class="form-label">Placa</label>
      <input
        type="text"
        class="form-control"
        id="placa"
        required
        placeholder="Exemplo: ABC1D23"
        [(ngModel)]="vehicle.placa"
        name="placa"
      />
    </div>

    <div class="form-group">
      <label for="chassi" class="form-label">Chassi</label>
      <input
        class="form-control"
        id="chassi"
        required
        placeholder="Exemplo: 9BWZZZ377VT004351"        
        [(ngModel)]="vehicle.chassi"
        name="chassi"
      />
    </div>

    <div class="form-group">
      <label for="renavam" class="form-label">Renavam</label>
      <input
        class="form-control"
        id="renavam"
        required
        placeholder="Exemplo: 12345678901"
        [(ngModel)]="vehicle.renavam"
        name="renavam"
      />
    </div>

    <div class="form-group">
      <label for="marca" class="form-label">Marca</label>
      <input
        class="form-control"
        id="marca"
        required
        [(ngModel)]="vehicle.marca"
        name="marca"
      />
    </div>
    
    <div class="form-group">
      <label for="modelo" class="form-label">Modelo</label>
      <input
        class="form-control"
        id="modelo"
        required
        [(ngModel)]="vehicle.modelo"
        name="modelo"
      />
    </div>
    <div class="form-group">
      <label for="ano" class="form-label">Ano</label>
      <input
        class="form-control"
        id="ano"
        required
        [(ngModel)]="vehicle.ano"
        name="ano"
      />
    </div>
    <div class="mt-3 col-md-6">
      <button (click)="create()" class="btn btn-success">Cadastrar</button>
    </div>
  </form>